@import model.Tasklist
@(tasks: Seq[Tasklist])

@main("Aufgabenliste") {
  <div id="tasks">
    <h2>Erstelle eine neue Aufgabe</h2>

    <form action="/insert/task" method="POST">
      <input name="title" type="text" placeholder="title"/>
      <input name="body" type="text" placeholder="body"/>
      <input type="submit"/>
    </form>

    <h2>Zu erledigende Aufgaben:</h2>
    <table id="tasks2">
      <tr><th>Titel</th><th>Inhalt</th></tr>
      @for(task <- tasks){
        <tr><td>@task.title</td><p></p><td>@task.body</td></tr>
      }
    </table>
  </div>
}
