@main("Bitte registriere dich.") {


    <br>
    <br>

    <div class="container">
        <section id="content">
        <h1>Willkommen bei dem Notizmanagementsystem!</h1>
            <h2>Account erstellen:</h2>
            <form action="/insert/login" method="POST">
                <input name="username2" type="text" placeholder="username"/>
                <input name="password2" type="password" placeholder="password"/>
                <input type="submit"/>
            </form>
        </section>
    </div>
}