@import model.Tasklist
@(tasks: Seq[Tasklist])

@main("Welcome to Play") {
  <h1>Willkommen bei spezieller Programmierung!</h1>
  <div id="produkte">
    <h2>Suche nach Task</h2>

    <form action="/search/bytitle" method="POST">
      <input name="title" type="text" placeholder="price"/>
      <input type="submit"/>
    </form>

    <h2>Hier ist Dein Ergebnis</h2>
    <table>
      <tr><th>Titel</th><th>Inhalt</th></tr>
      @for(task <- tasks){
        <tr><td>@task.title</td><td>@task.body</td></tr>
      }
    </table>
  </div>
}
